body html {
    height: 100%;
    margin: 0;
}
/* adding my background image to the body, and make sure it looks good under the Jumbo */
body {
    background-image: url("../images/woodtableBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* clean up the text for these items  */
#target, #winLoss {
    text-align: center;
    font-size: xx-large;
}
/* adding a cool little box */
#total {
    text-align: center;
    background-color: bisque;
    border: 6px inset ;
}

#userTotal{
    font-size: larger;
    font-family: fantasy;
}
/* Making a cool little box for the randome number */
#secretScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
    width: 50%;
    height: 75px;
    border: 6px dashed;
    padding: 10px;
    margin: 0 auto;
    background-color: chartreuse;
}
/* same box but for the wins and loss */
#winLossBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    width: 50%;
    height: 100px;
    border: 6px dashed;
    padding: 10px;
    margin: 0 auto;
    background-color: chartreuse

}